<%- include("includes/head.ejs") %>
  <body>
    <form action="/post" method="post">
      <!-- <input type="text" placeholder="id" name="id"  class="input"/>
      <br /> -->
      <input type="text" placeholder="username" name="username" class="input" />
      <br />
      <br />
      <textarea name="content" placeholder="write your content" class="input" style="width: 500px; height: 100px;"></textarea>
      <br />
      <button>Submit</button>
    </form>
    <br>
    <a href="http://localhost:1100/post" class="backbtn">Go Back</a>
  </body>
</html>
